---
Language: Cpp
BasedOnStyle: Microsoft
AccessModifierOffset: -4
TabWidth: 4
UseTab: Always
BreakStringLiterals: false
ColumnLimit: 0
NamespaceIndentation: All
PointerAlignment: Left
DerivePointerAlignment: false
FixNamespaceComments: false
SortIncludes: false
SortUsingDeclarations: false
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 4
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false